@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container text-center mt-5">
<h1>@ViewData["Title"]</h1>
    <p>
    Cheque seu email para mudar sua senha.
    </p>
</div>

